# .gitignore
# Add any files or directories to ignore here.

# Ignore Miniconda installer
Miniconda3-latest-Linux-x86_64.sh

# Ignore inventory files
inventory.ini

# Ignore Ansible retry files
*.retry

# Ignore temporary files
something

# Ignore chezmoi archive
chezmoi.tar.gz